@import "fonts.scss";
@import "variables.scss";

@import "header.scss";
@import "footer.scss";
@import "main.scss";
@import "form.scss";
@import "photo.scss";

@import "blocks/hero.scss";
@import "blocks/software.scss";

// Начните писать стили здесь

.page__body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Open sans", sans-serif;
}

.visually-hidden {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
